:root {
    /* ### Primary */

    --Very-Dark-Magenta: hsl(300, 43%, 22%);
    --Soft-Pink: hsl(333, 80%, 67%);

    /* ### Neutral */

    --Dark-Grayish-Magenta: hsl(303, 10%, 53%);
    --Light-Grayish-Magenta: hsl(300, 24%, 96%);
    --White: hsl(0, 0%, 100%);

    /* Fuente */
    --fuente: 'League Spartan', sans-serif;

}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 15px;
    font-family: var(--fuente);
}

/* .contenedor__principal {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 300px;
    max-width: 1440px;
    width: 100%;
} */

.contenedor__secundario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 300px;
    max-width: 650px;
    /* width: 375px; */
    margin: 0 auto;
    position: relative;
    padding: 55px 25px;
    text-align: center;
}

.contenedor__secundario::before {
    content: '';
    background: url(images/bg-pattern-top-mobile.svg) no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 22%;
    z-index: 20;
}

.contenedor__secundario::after {
    content: '';
    background: url(images/bg-pattern-bottom-mobile.svg) no-repeat;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    z-index: 40;
}

.contenedor__descripcion h1 {
    color: var(--Very-Dark-Magenta);
    font-size: 2.5rem;
    font-weight: 700;
}

.contenedor__descripcion p {
    margin: 30px 0;
    color: var(--Dark-Grayish-Magenta);
    font-size: 1.18rem;
    line-height: 1.5rem;
    font-weight: 400;
}

.contenedor__calificaciones {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
}

.contenedor__calificaciones .contenido__calificaciones {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 260px;
    height: 80px;
    background: var(--Light-Grayish-Magenta);
    color: var(--Very-Dark-Magenta);
    font-size: 1.2rem;
    font-weight: 700;
    margin: 15px 0;
    border-radius: 10px;
    line-height: 30px;
}

.contenedor__calificaciones .estrellas__calificaiones span {
    margin: 3px;
}

.contenedor__usuarios {
    margin-top: 45px;
}

.contenedor__usuarios .contenedor__usuario--contenido {
    margin: 15px 0;
    background: var(--Very-Dark-Magenta);
    padding: 32px 30px;
    border-radius: 10px;
    position: relative;
}

.contenedor__usuarios .contenedor__usuario--contenido img {
    border-radius: 50%;
    width: 44px;
    display: flex;
}

.contenedor__usuarios .contenedor__usuario--contenido h2 {
    position: absolute;
    top: 35px;
    left: 90px;
    color: var(--White);
    font-size: 1.1rem;
    font-weight: 700;
}

.contenedor__usuarios .contenedor__usuario--contenido h3 {
    position: absolute;
    top: 55px;
    left: 90px;
    font-size: 1.15rem;
    font-weight: 400;
    color: var(--Soft-Pink);
}

.contenedor__usuarios .contenedor__usuario--contenido p {
    margin-top: 29px;
    color: var(--White);
    font-weight: 400;
    line-height: 22px;
    font-size: 1.1rem;
    text-align: left;
}

@media screen and (min-width: 999px) {
    .contenedor__secundario {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
        'descripcion calificaciones'
        'usuario usuario';
        max-width: 1440px;
        width: auto;
        padding: 100px 50px;
    }

    .contenedor__secundario::before {
        content: '';
        background: url(images/bg-pattern-top-desktop.svg) no-repeat;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 22%;
        z-index: 20;
    }
    
    .contenedor__secundario::after {
        content: '';
        background: url(images/bg-pattern-bottom-desktop.svg) no-repeat;
        position: absolute;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 60%;
        z-index: 40;
    }

    .contenedor__descripcion {
        grid-area: descripcion;
        margin-right: 48px;
        text-align: left;
    }

    .contenedor__calificaciones {
        grid-area: calificaciones;
        margin-left: 100px;
    }

    .contenedor__usuarios {
        grid-area: usuario;
        display: flex;
    }

    .contenedor__descripcion,
    .contenedor__calificaciones,
    .contenedor__usuarios {
        position: relative;
        z-index: 80;
    }

    .contenedor__usuarios .contenedor__usuario--contenido {
        margin: 15px 5px;
    }

    .contenedor__usuarios .contenedor__usuario--irene-roberts {
        margin: 15px 0px;
    }
}

@media screen and (min-width: 1100px) {
    .contenedor__principal {
        width: 100%;
        border: 1px solid red;
    }

    .contenedor__secundario {
        border: 1px solid blue;
        overflow: hidden;
        width: 95%;
        padding: 100px 10px;
        min-height: 100vh;
    }

    .contenedor__secundario::after {
        content: '';
        background: url(images/bg-pattern-bottom-desktop.svg) no-repeat;
        position: absolute;
        bottom: 0;
        right: 0;
        width: 2000px;
        height: 60%;
        z-index: 40;
    }

    .contenedor__descripcion {
        margin-left: 30px;
    }

    .contenedor__descripcion h1 {
        color: var(--Very-Dark-Magenta);
        font-size: 3.5rem;
        font-weight: 700;
    }

    .contenedor__descripcion p {
        font-size: 1.25rem;
        line-height: 1.51rem;
    }

    .contenedor__calificaciones {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 70%;
        padding-right: 40px;
        margin-right: 35px;
    }

    .contenedor__calificaciones .contenido__calificaciones {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        font-size: 1.3rem;
        font-weight: 700;
        position: relative;
        width: 500px;
        height: 76px;
    }

    .contenedor__calificaciones .calificaciones__guru {
        left: 45px;
    }

    .contenedor__calificaciones .calificaciones__besttech {
        left: 90px;
    }

    .contenedor__usuarios {
        margin: 0 85px 0 10px;
        padding: 0 20px;
    }

    .contenedor__usuarios .contenedor__usuario--contenido {
        position: relative;
        width: 90%;
    }

    .contenedor__usuarios .contenedor__usuario--irene-roberts {
        top: 40px;
        left: 40px;
    }

    .contenedor__usuarios .contenedor__usuario--anne-wallace {
        top: 80px;
        left: 80px;
    }
}